extends ../layouts/index

block contenido
    div.py-10
        h1.text-center.text-4xl.font-extrabold.my-10 Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= page

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Tu Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rouded-md.placeholder-gray-400(placeholder="Tu Email" type="email" name="email")
                    //- links                    
                    div.flex.items-center.justify-end
                        a.text-gray-500.text-xs(href="/auth/login") Iniciar sesion
                    input(class="w-full bg-indigo-600 cursor-pointer text-white font-bold py-3  hover:bg-indigo-900" type="submit" value="Enviar Instrucciones")